<article class="movie-card wow animate__animated animate__fadeInUp"
         tabindex="0"
         role="button"
         aria-label="Открыть карточку {{ movie.title }}">
  <div class="movie-card__poster" *ngIf="movie">
    <!--        вариант через сервер-->
    <!--        <img [src]="movie?.posterServe" [alt]="movie?.title" loading="lazy" />-->
    <!--        вариант локально-->
    <!--        <img [src]="'posters/' + movie?.poster" alt="{{ movie?.title }}" loading="lazy"/>-->

    <img [src]="'assets/posters/' + movie!.poster ? 'assets/posters/' + movie!.poster : movie!.posterServe"
         loading="lazy"/>
  </div>
  <div class="movie-card__info">
    <h3 class="movie-card__title">{{ movie.title }}</h3>
    <div class="movie-card__year">{{ movie.year }}</div>
  </div>
</article>
